<app-header></app-header>
<app-loading-spin *ngIf="isProceess"></app-loading-spin>
<div class="page-title">
  <h1>Ticket</h1>
</div>
<div class="page-btns-col">
  <div class="dt-buttons">
    <button class="gray-btns" *ngIf="data.length > 0" (click)="onDownload()" type="button"><i
        class="las la-file-excel"></i> Excel</button>
    <div class="table-search" *ngIf="data.length > 0"><input type="text" class="form-control" name="name" id="name"
        [(ngModel)]="term" autocomplete="off" placeholder="Search..." required=""></div>
  </div>
  <div class="topbr-btns">
    <div class="btn-group">
      <select class="form-select cst-margin" #sel3 (change)="selectStatus(sel3.value)">
        <option value="All" selected>All</option>
        <option value="New">New</option>
        <option value="In_Progress">In-Progress</option>
        <option value="Pending_Client">Pending Client</option>
        <option value="Resolved">Resolved</option>
        <option value="Closed">Closed</option>
      </select>
      <!-- <button type="button"  *ngIf="this.userData?.role?.roleName  === 'Admin'"  (click)="onFilter()" class="add-btn dropdown-toggle">
        Filter Data
    </button> -->
      <button type="button" *ngIf="this.userData?.role?.roleName  !== 'Admin'" class="add-btn dropdown-toggle "
        data-bs-toggle="dropdown" aria-expanded="false">
        Add New
      </button>
      <ul class="dropdown-menu">

        <li *ngIf="this.userData.department.departmentName != 'Zenoti' && this.userData.department.departmentName != 'Admin'" (click)="onAdd()"><a class="dropdown-item"><i class="las la-plus"></i> Create new Ticket</a></li>
        <li *ngIf="this.userData.department.departmentName == 'Zenoti' || this.userData.department.departmentName == 'Admin'" (click)="onAuditorAdd()"><a class="dropdown-item"><i class="las la-plus"></i> Create new Ticket</a></li>

        <!-- <li (click)="onbulkUpload()"><a class="dropdown-item" ><i class="las la-layer-group"></i> Bulk Upload</a></li> -->
      </ul>
    </div>
  </div>

</div>
<div class="inner-middle-content">
  <div class="dasboard-table dasboard-scroll">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Ticket No</th>
            <th>Created Date</th>
            <th>Status</th>
            <th>Category</th>
            <th>Department</th>
            <th>Assigned To</th>
            <th>Status</th>
            <th class="action-cl">Action</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let i of data | customFilter: term| paginate
          : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            };let ind = index">
            <!-- <td>{{ind + 1}}</td> -->
            <td>{{i.ticketId}}</td>
            <td *ngIf="this.userData.department.departmentName !== 'Zenoti' && this.userData.department.departmentName !== 'Admin'" (click)="onUpdateTicket(i)" class="tblLink">{{i.ticketNo}}</td>
            <td  *ngIf="this.userData.department.departmentName == 'Zenoti' || this.userData.department.departmentName == 'Admin'" (click)="onUpdateTicket1(i)" class="tblLink">{{i.ticketNo}}</td>
            <td>{{i.createdDate | date :'medium'}}</td>
            <td>{{i.ticketStatus}}</td>
            <td>{{i.category?.categoryName}}</td>
            <td>{{i.department?.departmentName}}</td>
            <td>{{i.assignedTo?.firstName}} {{i.assignedTo?.lastName}}</td>
            <td>{{i.status ? 'Active' : 'Deactivate'}}</td>
            <td>
              <a class="btnClick" (click)="onViewDetail(i)"><i class="las la-eye"></i></a>
              <a class="btnClick" (click)="onEdit(i)" *ngIf="this.userData?.role?.roleName  !== 'Admin' && this.userData.department.departmentName !== 'Zenoti' ||this.userData?.role?.roleName  !== 'Admin' &&  this.userData.department.departmentName !== 'Admin'"><i
                  class="las la-edit"></i></a>

                  <a class="btnClick" (click)="onEditAuditor(i)" *ngIf="this.userData?.role?.roleName  !== 'Admin' && this.userData.department.departmentName == 'Zenoti' ||this.userData?.role?.roleName  == 'Admin' &&  this.userData.department.departmentName == 'Admin'"><i
                    class="las la-edit"></i></a>
              <a class="btnClick" *ngIf="i.status && this.userData?.role?.roleName  !== 'Admin'" (click)="onDelete(i)"><i
                  class="las la-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="data.length === 0" class="text-center">
        <Strong class="text-danger">No records found</Strong>
      </div>
      <div  class="text-center" *ngIf="(data | customFilter: term).length === 0 && data.length > 0">
        <Strong class="text-danger"> No results found.</Strong>
      </div>
    </div>
    <div class="clearfix" *ngIf="!isProceess && data.length > 0">
      <ul class="pagination">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </ul>
    </div>
  </div>
</div>
