<div class="page-title">
  <h1>Manage Access Permissions</h1>
</div>

<div class="permissions-page">

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-powner-tab" data-bs-toggle="pill" data-bs-target="#pills-powner"
        type="button" role="tab" aria-controls="pills-powner" aria-selected="true">Admin</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-padmin-tab" data-bs-toggle="pill" data-bs-target="#pills-padmin" type="button"
        role="tab" aria-controls="pills-padmin" aria-selected="false">Resolver</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-pteam-tab" data-bs-toggle="pill" data-bs-target="#pills-pteam" type="button"
        role="tab" aria-controls="pills-pteam" aria-selected="false">User</button>
    </li>
  </ul>


  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-powner" role="tabpanel" aria-labelledby="pills-powner-tab">

      <div class="inner-permissions-page">

        <div class="permi-title">
          <h3><span><i class="las la-globe"></i></span> Global</h3>
        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Hide user contact number</p>
            <p><small><em>Note: Enabling this will hide Templates, Notifications, All Users and Analytics module. As all
                  these modules have various places where the user contact number can be seen.</em></small></p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault"></label>
            </div>
          </div>

        </div>

      </div><!--inner-permissions-page-->

      <div class="inner-permissions-page">

        <div class="permi-title">
          <h3><span><i class="las la-user-friends"></i></span> All Users</h3>
        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to view All Users page</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2" checked>
              <label class="form-check-label" for="flexSwitchCheckDefault2"></label>
            </div>
          </div>

        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to Export Users</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault3">
              <label class="form-check-label" for="flexSwitchCheckDefault3"></label>
            </div>
          </div>

        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to Add/Delete Users</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault4" checked>
              <label class="form-check-label" for="flexSwitchCheckDefault4"></label>
            </div>
          </div>

        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to bulk tag Users</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault5" checked>
              <label class="form-check-label" for="flexSwitchCheckDefault5"></label>
            </div>
          </div>

        </div>


      </div><!--inner-permissions-page-->


    </div><!--tab-pane-->

    <div class="tab-pane fade" id="pills-padmin" role="tabpanel" aria-labelledby="pills-padmin-tab">

      <div class="inner-permissions-page">

        <div class="permi-title">
          <h3><span><i class="las la-globe"></i></span> Global</h3>
        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Hide user contact number</p>
            <p><small><em>Note: Enabling this will hide Templates, Notifications, All Users and Analytics module. As all
                  these modules have various places where the user contact number can be seen.</em></small></p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault"></label>
            </div>
          </div>

        </div>

      </div><!--inner-permissions-page-->

      <div class="inner-permissions-page">

        <div class="permi-title">
          <h3><span><i class="las la-user-friends"></i></span> All Users</h3>
        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to view All Users page</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2" checked>
              <label class="form-check-label" for="flexSwitchCheckDefault2"></label>
            </div>
          </div>

        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to Export Users</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault3">
              <label class="form-check-label" for="flexSwitchCheckDefault3"></label>
            </div>
          </div>

        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to Add/Delete Users</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault4" checked>
              <label class="form-check-label" for="flexSwitchCheckDefault4"></label>
            </div>
          </div>

        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to bulk tag Users</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault5" checked>
              <label class="form-check-label" for="flexSwitchCheckDefault5"></label>
            </div>
          </div>

        </div>


      </div><!--inner-permissions-page-->

    </div><!--tab-pane-->



    <div class="tab-pane fade" id="pills-pteam" role="tabpanel" aria-labelledby="pills-pteam-tab">

      <div class="inner-permissions-page">

        <div class="permi-title">
          <h3><span><i class="las la-globe"></i></span> Global</h3>
        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Hide user contact number</p>
            <p><small><em>Note: Enabling this will hide Templates, Notifications, All Users and Analytics module. As all
                  these modules have various places where the user contact number can be seen.</em></small></p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault"></label>
            </div>
          </div>

        </div>

      </div><!--inner-permissions-page-->

      <div class="inner-permissions-page">

        <div class="permi-title">
          <h3><span><i class="las la-user-friends"></i></span> All Users</h3>
        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to view All Users page</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2" checked>
              <label class="form-check-label" for="flexSwitchCheckDefault2"></label>
            </div>
          </div>

        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to Export Users</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault3">
              <label class="form-check-label" for="flexSwitchCheckDefault3"></label>
            </div>
          </div>

        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to Add/Delete Users</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault4" checked>
              <label class="form-check-label" for="flexSwitchCheckDefault4"></label>
            </div>
          </div>

        </div>

        <div class="permis-tab1">
          <div class="permis-tab1-left">
            <p>Allow to bulk tag Users</p>
          </div>

          <div class="permis-tab1-right">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault5" checked>
              <label class="form-check-label" for="flexSwitchCheckDefault5"></label>
            </div>
          </div>

        </div>


      </div><!--inner-permissions-page-->

    </div><!--tab-pane-->

  </div>


</div><!--approvals-page-->
