<app-loading-spin *ngIf="isProceess"></app-loading-spin>

<div class="main-analytics-right">
  <div class="page-title mt-0">
    <h1><i class="las la-chart-bar"></i> Conversation Analytics</h1>
    <p color="#737373" class="sc-gEvEer beJtS">Find out if your customers are getting timely responses &amp; getting
      their issues resolved quickly! </p>
  </div>
  <div class="analytics-dropcols">
    <div class="analdrop1 analdrop2">
      <label>Select Date</label>
      <select id="select-tags4" class="form-select"
      [(ngModel)]="selectedValue"
      (change)="onValueChange($event)">
        <option value="Today">Today</option>
        <option value="Yesterday">Yesterday</option>
        <option value="7">Last 7 days</option>
        <option value="30">Last 30 days</option>
      </select>
    </div>

    <div class="analdrop1">
      <div class="form-group">
        <label for="startDate">From</label>
        <input class="form-control" type="date" id="startDate"
         name="startDate" [(ngModel)]="startDate" [max]="endDate">
      </div>
    </div>
    <div class="analdrop1">
      <div class="form-group">
        <label for="endDate">To</label>
        <input  class="form-control" type="date" id="endDate"
         name="endDate" [(ngModel)]="endDate"
         [max]="endDate">
        <div *ngIf="dateRangeError" class="form-validate-err">
          To Date must be after From Date
        </div>
      </div>
    </div>
    <div class="analdrop1">
      <div class="form-group">
        <label>&nbsp;</label>
        <button  class="btn common-btn" (click)="submitDateRange()">Submit</button>
      </div>
    </div>
    <div class="analdrop1">
      <label>Export Data</label>
      <button (click)="onDownload()" class="gray-btns" type="button"><i class="las la-file-export"></i> Download</button>
    </div>
  </div>

  <div class="below-anlytics-chart">
    <p>These stats are for all conversations which were initiated by customers in the selected period</p>
    <div class="row">
      <ng-container *ngFor="let i of data ;trackBy: trackByFn">
        <div class="col-md-4 col-sm-12">
          <div class="analybidcol">
            <div class="info-tblg"  data-toggle="tooltip" data-placement="top"><i
                class="las la-info-circle"></i></div>
            <h3>{{i.name}}</h3>
            <div class="anltbig-text">{{i.total}}  <span *ngIf="i.total !== totalRecord && i.total  !== 0 && totalRecord > 0">{{ i.total / totalRecord  * 100 | number: '1.2-2'}} %</span></div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="data.length === 0" class="text-center">
        <Strong class="text-danger">No records found</Strong>
     </div>
    </div>
    <div class="row mt-4">

      <div class="col-md-4 col-sm-6">
        <div class="analybidcol analgrph">
          <div class="info-tblg"><i class="las la-info-circle"></i></div>
          <h3>Wait Time for 1st Agent Response</h3>
          <div class="anltbig-text">1 <small>min</small></div>
          <div class="anltb-graph"><img src="../assets/images/graph-not-available.svg" alt=""></div>
         </div>
       </div>

       <div class="col-md-4 col-sm-6">
        <div class="analybidcol analgrph">
          <div class="info-tblg"><i class="las la-info-circle"></i></div>
          <h3>Average Wait Time for Agent Responses</h3>
          <div class="anltbig-text">38 <small>min</small></div>
          <div class="anltb-graph"><img src="../assets/images/graph-not-available.svg" alt=""></div>
         </div>
       </div>

       <div class="col-md-4 col-sm-6">
        <div class="analybidcol analgrph">
          <div class="info-tblg"><i class="las la-info-circle"></i></div>
          <h3>Resolution Time</h3>
          <div class="anltbig-text">5 <small>hr</small> 12 <small>min</small></div>
          <div class="anltb-graph"><img src="../assets/images/graph-not-available.svg" alt=""></div>
         </div>
       </div>


    </div>
  </div>
</div>
