<div class="main-analytics-right">
  <div class="page-title m-0">
    <h1><i class="las la-chart-bar"></i> Conversation Analytics</h1>
    <p color="#737373" class="sc-gEvEer beJtS">Find out if your customers are getting timely responses &amp; getting
      their issues resolved quickly! </p>
  </div>
  <div class="analytics-dropcols">

    <div class="analdrop1">
      <select id="select-tags2" class="form-select">
        <option value="">Events</option>
        <option value="tgnoo">Payment Link Generated</option>
        <option value="tg501">WhatsApp Cart Received</option>
        <option value="chkin">Whatsapp Order Placed</option>
        <option value="chkout">CTWA Notification</option>
      </select>
    </div>

    <div class="analdrop1">
      <select id="select-tags3" class="form-select">
        <ng-container *ngFor="let i of data ; ">
          <option value={{i.id}}>{{i.name}}</option>
        </ng-container>


      </select>
    </div>

    <div class="analdrop1 analdrop2">
      <select id="select-tags4" class="form-select" >
        <option value="">Last 7 days</option>
        <option value="tgnoo">Today</option>
        <option value="tg501">Yesterday</option>
        <option value="chkin">Last 7 days</option>
        <option value="chkout">Last 30 days</option>
      </select>
    </div>

    <div class="analdrop3"><button class="gray-btns" type="button"><i class="las la-file-export"></i> Export
        Data</button></div>
  </div>

  <div class="below-anlytics-chart">
    <p>These stats are for all conversations which were initiated by customers in the selected period</p>

    <div class="row">

      <div class="col-md-4 ol-sm-6">
        <div class="analybidcol">
          <div class="info-tblg"><i class="las la-info-circle"></i></div>
          <h3>Total Conversations</h3>
          <div class="anltbig-text">20</div>
        </div>
      </div>

      <div class="col-md-4 ol-sm-6">
        <div class="analybidcol">
          <div class="info-tblg"><i class="las la-info-circle"></i></div>
          <h3>Responded</h3>
          <div class="anltbig-text">1 <span>5%</span></div>
        </div>
      </div>

      <div class="col-md-4 ol-sm-6">
        <div class="analybidcol">
          <div class="info-tblg"><i class="las la-info-circle"></i></div>
          <h3>Resolved</h3>
          <div class="anltbig-text">1 <span>5%</span></div>
          <p><b>16</b> were closed without response</p>
        </div>
      </div>

      <div class="col-md-4 ol-sm-6">
        <div class="analybidcol analgrph">
          <div class="info-tblg"><i class="las la-info-circle"></i></div>
          <h3>Wait Time for 1st Agent Response</h3>
          <div class="anltbig-text">1 <small>min</small></div>
          <div class="anltb-graph"><img src="../assets/images/graph-not-available.svg" alt=""></div>
        </div>
      </div>

      <div class="col-md-4 ol-sm-6">
        <div class="analybidcol analgrph">
          <div class="info-tblg"><i class="las la-info-circle"></i></div>
          <h3>Average Wait Time for Agent Responses</h3>
          <div class="anltbig-text">38 <small>min</small></div>
          <div class="anltb-graph"><img src="../assets/images/graph-not-available.svg" alt=""></div>
        </div>
      </div>

      <div class="col-md-4 ol-sm-6">
        <div class="analybidcol analgrph">
          <div class="info-tblg"><i class="las la-info-circle"></i></div>
          <h3>Resolution Time</h3>
          <div class="anltbig-text">5 <small>hr</small> 12 <small>min</small></div>
          <div class="anltb-graph"><img src="../assets/images/graph-not-available.svg" alt=""></div>
        </div>
      </div>


    </div>

  </div>


</div><!--main-analytics-right-->
