<div class="login-leftside">
  <div class="login-lefttop-txt">
    <h3>Get this application on your phone now</h3>
    <p>To install the app, scan the QR code with your phone's camera</p>
  </div>
  <div class="loginscanqr-col"><img src="../assets/images/login-scan-QR.png" alt=""></div>
  <!-- <div class="loginfapp-col">
    <p>OR</p>
    <p>Download the app</p>
    <div class="app-down-btns">
      <a routerLink=""><img src="../assets/images/playstore-btn.png" alt=""></a>
      <a routerLink=""><img src="../assets/images/appstore-btn.png" alt=""></a>
    </div>
  </div> -->
</div>
