<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5">Image Upload</h1>
  </div>
  <div class="modal-custom-close" (click)="onCancel()">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>
    <div class="pro-detail-wrapper">
      <div class="row">
        <div class="col-md-5">
          <app-loading-spin-popup *ngIf="!imageLoaded"></app-loading-spin-popup>
          <div class="products-big-pic" *ngIf="!previewUrl">
            <img [src]="imageURL" class="img-responsive" alt=""  (load)="imageLoaded = true">
          </div>
          <div class="products-big-pic" *ngIf="previewUrl">
            <img [src]="previewUrl" alt="Image Preview" class="img-responsive"  (load)="imageLoaded = true">
          </div>
        </div>
        <div class="col-md-7">
          <div class="pro-details-content">
            <form class="common-modal-form" [formGroup]="customersMasterForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="inputGroupFile02">Image</label>
                    <div class="input-group">
                      <input type="file" class="form-control" id="inputGroupFile02" (change)="onFileChange($event)"
                        name="file" accept="image/*">
                      <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mb-0 text-end">
                <button type="submit" class="common-btn">Upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
