<app-header></app-header>

<app-loading-spin *ngIf="isProceess"></app-loading-spin>
<div class="page-title">
  <h1>Approval Matrix</h1>
</div>
<div class="page-btns-col">
  <div class="dt-buttons">
    <button class="gray-btns" type="button"><i class="las la-file-excel"></i> Excel</button>
    <div class="table-search"><input type="text" class="form-control" name="name" id="name" placeholder="Search here"
        required=""></div>
  </div>
  <div class="btn-group">
    <button type="button"  class="add-btn dropdown-toggle" data-bs-toggle="dropdown"
      aria-expanded="false">
      Add New
    </button>
    <ul class="dropdown-menu">
      <li (click)="onAdd()"><a class="dropdown-item"><i class="las la-plus"></i> Create new approval matrix</a></li>
      <!-- <li (click)="onbulkUpload()"><a class="dropdown-item" ><i class="las la-layer-group"></i> Bulk Upload</a></li> -->
    </ul>
  </div>
</div>
<div class="inner-middle-content" >
  <div class="dasboard-table">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th >ID</th>
            <th >Department</th>
            <th >L1 Manager</th>
            <th>L2 Manager</th>
            <th>L3 Manager</th>
            <th>Status</th>
            <th class="action-cl">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="!isProceess">

          <tr>
            <td>1</td>
            <td>IT</td>
            <td>Vipul Malakiya</td>
            <td>Vipul Malakiya</td>
            <td>Vipul Malakiya</td>
            <td>Active</td>
            <td>
              <a class="btnClick" (click)="onViewDetail()"><i class="las la-eye"></i></a>
              <a class="btnClick" href="#"><i class="las la-edit"></i></a>
              <a class="btnClick" (click)="onDelete()"><i class="las la-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="clearfix" *ngIf="!isProceess">
      <div class="hint-text">Showing <b>1</b> out of <b>10</b> entries</div>
      <ul class="pagination">
        <li class="page-item disabled"><a href="#"><i class="las la-angle-left"></i></a></li>
        <li class="page-item active"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link"><i class="las la-angle-right"></i></a></li>
      </ul>
    </div> -->
  </div>
</div>
