<div class="common-modal green-modal">
  <div class="modal-header">
    <h1 class="modal-title fs-5">{{ title }}</h1>
    <button type="button" class="btn-close" (click)="onCancel()" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body mb-0">
    <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>
    <form class="common-modal-form" [formGroup]="issueForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="issueName">Issue name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="issueName" name="issueName" formControlName="issueName"
          placeholder="Issue name">
        <div *ngIf="shouldShowError('issueName','required')" class="form-validate-err">
          Please Enter Issue Name.
        </div>
        <div *ngIf="shouldShowError('issueName','leadingSpace')" class="form-validate-err">
          Input Field cannot start with a space.
        </div>
      </div>
      <div class="form-group">
        <label for="calculationSLA">Calculation SLA <span class="text-danger">*</span></label>
        <select class="form-select" id="calculationSLA" formControlName="calculationSLA">
          <option value="">Select</option>
          <option value="No">NO</option>
          <option value="Yes">Yes</option>
        </select>
        <div *ngIf="shouldShowError('status','required')" class="text-danger">This field is required
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-select" id="status" formControlName="status">
          <option value="true">Active</option>
          <option value="false">Deactive</option>
        </select>
        <div *ngIf="shouldShowError('status','required')" class="text-danger">This field is required
        </div>
      </div>
      <div class="form-group mb-0 text-end">
        <button type="submit" class="common-btn">{{this.data ?'Update Now' : 'Add New'}}</button>
      </div>
    </form>
  </div>
</div>
