<div class="common-modal green-modal">
  <div class="modal-header">
    <h1 class="modal-title fs-5">{{ title }}</h1>
    <button type="button" class="btn-close" (click)="onCancel()" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body mb-0">
    <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>
    <form class="common-modal-form" [formGroup]="SLATimelinesMasterForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="priorityName">Priority Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="priorityName" name="priorityName" formControlName="priorityName"
          placeholder="Priority name">
        <div *ngIf="shouldShowError('priorityName','required')" class="form-validate-err">
          Please Enter Priority Name.
        </div>
        <div *ngIf="shouldShowError('priorityName','leadingSpace')" class="form-validate-err">
          Input Field cannot start with a space.
        </div>
      </div>
      <div class="form-group">
        <label for="slaTimeInHours">SLA Time in hours <span class="text-danger">*</span></label>
        <input type="text" class="form-control" (keydown)="onKeyDown($event)" id="slaTimeInHours" name="slaTimeInHours"
          formControlName="slaTimeInHours" placeholder="SLA Time in hours">
        <div *ngIf="shouldShowError('slaTimeInHours','required')" class="form-validate-err">
          This field is required.
        </div>
        <div *ngIf="shouldShowError('slaTimeInHours','pattern')" class="form-validate-err">
          Please enter positive number
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-select" id="status" formControlName="status">
          <option value="">Select</option>
          <option value="true">Active</option>
          <option value="false">Deactive</option>
        </select>
        <div *ngIf="shouldShowError('status','required')" class="text-danger">This field is required
        </div>
      </div>
      <div class="form-group mb-0 text-end">
        <button type="submit" class="common-btn">{{this.data ?'Update Now' : 'Add New'}}</button>
      </div>
    </form>
  </div>
</div>
