<div class="loading-spin" *ngIf="loading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<section class="login-wrapper">
  <div class="login-logo" routerLink="/login"><a><img src="../assets/images/logo.png" alt=""></a></div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <app-login-leftside></app-login-leftside>
      </div>
      <div class="col-lg-6">
        <div class="login-form-col">
          <div class="login-headcontet">
            <h1>Forgot password.</h1>
            <p>Your password was emailed to you when the account was created.</p>
          </div>
          <form class="login-form" name="cform" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Email address</label>
              <input type="text" class="form-control"formControlName="username" name="username" id="username"
              placeholder="Enter email address">
              <div class="login-user-ico">
                <i class="las la-user"></i>
              </div>
              <div *ngIf="shouldShowError('username','required')" class="form-validate-err">
                Please Enter Email.
              </div>
              <div *ngIf="shouldShowError('username','leadingSpace')" class="form-validate-err">
                Input Field cannot start with a space.
              </div>
              <div *ngIf="shouldShowError('username','pattern')" class="form-validate-err">
                Invalid email format.
              </div>
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="loading" class="common-btn login-btn">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
