<div class="common-modal green-modal">
  <div class="modal-header">
    <h1 class="modal-title fs-5">{{ title }}</h1>
    <button type="button" class="btn-close" (click)="onCancel()" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body mb-0">
    <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>
    <form class="common-modal-form" [formGroup]="departmentMasterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="departmentName">Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="departmentName" name="departmentName"
              formControlName="departmentName" placeholder="Department Name">
            <div *ngIf="shouldShowError('departmentName','required')" class="form-validate-err">
              Please Enter Department Name.
            </div>
            <div *ngIf="shouldShowError('departmentName','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="departmentCode">Code <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="departmentCode" name="departmentCode"
              formControlName="departmentCode" placeholder="Department Code">
            <div *ngIf="shouldShowError('departmentCode','required')" class="form-validate-err">
              Please Enter Department code.
            </div>
            <div *ngIf="shouldShowError('departmentCode','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="departmentHead">Head <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="departmentHead" name="departmentHead"
              formControlName="departmentHead" placeholder="Department Head">
            <div *ngIf="shouldShowError('departmentHead','required')" class="form-validate-err">
              Please Enter Department Head Name.
            </div>
            <div *ngIf="shouldShowError('departmentHead','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-select" id="status" name="status" formControlName="status">
              <option value="true">Active</option>
              <option value="false">Deactive</option>
            </select>
            <div *ngIf="shouldShowError('status','required')" class="text-danger">This field is required
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="description">Description <span class="text-danger">*</span></label>
            <textarea cols="0" rows="3" id="description" name="description" formControlName="description"
              class="form-control" placeholder="Description"></textarea>
            <div *ngIf="shouldShowError('description','required')" class="form-validate-err">
              Please Enter Description.
            </div>
            <div *ngIf="shouldShowError('description','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mb-0 text-end">
        <button type="submit" class="common-btn">{{this.data ?'Update Now' : 'Add New'}}</button>
      </div>
    </form>
  </div>
</div>
