<app-header></app-header>
<div class="page-title">
  <h1>Reservation</h1>
</div>

<div class="inner-middle-content">

  <div class="resetb-sec">

    <div class="inner-homeblock">
      <div class="row align-self-stretch">

        <div class="col-lg-7 p-0">
          <div class="homeblock-pic">
            <div class="restb-bntxt">
              <h1>Experience the Unforgotable Fine Dining. <small>Book Now</small></h1>
            </div>
            <img src="../assets/images/avataara-restaurant1.jpg" class="img-responsive" alt="">
          </div>
        </div>

        <div class="col-lg-5 p-0">
          <div class="homeblock-txt">
            <h4 class="title">Let us serve you better</h4>
            <p>Don’t wait in a line to enjoy your meal. Reserve a table in advance with us.</p>
            <div class="resetb-form">
              <form class="query-form" name="cform" [formGroup]="customersMasterForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="form-label">Session</label>
                      <div class="radio-custombtn">
                        <input type="radio" class="btn-check" name="options-outlined" id="warning-outlined"
                          autocomplete="off" formControlName="Session" value="LUNCH" name="Session"
                          (click)="onRadioButtonClick('LUNCH')">
                        <label class="btn btn-outline-warning" for="warning-outlined">Lunch</label>

                        <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined"
                          autocomplete="off" formControlName="Session" value="DINNER" name="Session"
                          (click)="onRadioButtonClick('DINNER')">
                        <label class="btn btn-outline-danger" for="danger-outlined">Dinner</label>
                      </div>
                      <div *ngIf="shouldShowError('Session','required')" class="form-validate-err">
                        Please Enter Session
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6" *ngIf="selectedValue.length > 0">
                    <div class="form-group">
                      <label for="TimeSlots" class="form-label">Available Time Slots</label>
                      <select class="form-select" formControlName="TimeSlots" name="TimeSlots" id="TimeSlots">
                        <option value="">Please Select Time slots</option>
                        <option *ngIf="this.selectedValue === 'LUNCH'" value="TIME_12_00_PM">12:00 PM</option>
                        <option *ngIf="this.selectedValue === 'LUNCH'" value="TIME_01_00_PM">01:00 PM</option>
                        <option *ngIf="this.selectedValue === 'LUNCH'" value="TIME_02_00_PM">02:00 PM</option>
                        <option *ngIf="this.selectedValue === 'LUNCH'" value="TIME_03_00_PM">03:00 PM</option>
                        <option *ngIf="this.selectedValue === 'LUNCH'" value="TIME_04_00_PM">04:00 PM</option>
                        <option *ngIf="this.selectedValue === 'DINNER'" value="TIME_07_00_PM">07:00 PM</option>
                        <option *ngIf="this.selectedValue === 'DINNER'" value="TIME_08_00_PM">08:00 PM</option>
                        <option *ngIf="this.selectedValue === 'DINNER'" value="TIME_09_00_PM">09:00 PM</option>
                        <option *ngIf="this.selectedValue === 'DINNER'" value="TIME_10_00_PM">10:00 PM</option>
                        <option *ngIf="this.selectedValue === 'DINNER'" value="TIME_11_00_PM">11:00 PM</option>
                      </select>
                      <div *ngIf="shouldShowError('TimeSlots','required')" class="form-validate-err">
                        Please Enter Available Time Slots
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="form-label" for="FullName">Full Name</label>
                      <input type="text" placeholder="Full Name" class="form-control" name="FullName" id="FullName" formControlName="FullName">
                    </div>
                    <div *ngIf="shouldShowError('FullName','required')" class="form-validate-err">
                      Please Enter Full Name.
                    </div>
                    <div *ngIf="shouldShowError('FullName','leadingSpace')" class="form-validate-err">
                      Input Field cannot start with a space.
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="form-label" for="PhoneNo">Phone No. <span class="text-danger">*</span></label>
                      <input type="text" placeholder="Phone Number" (keydown)="onKeyDown($event)" class="form-control" name="PhoneNo" id="PhoneNo" formControlName="PhoneNo">
                    </div>
                    <div *ngIf="shouldShowError('PhoneNo','required')" class="form-validate-err">
                      Please Enter Phone Number.
                    </div>
                    <div *ngIf="shouldShowError('PhoneNo','minlength')" class="form-validate-err">
                      Phone Number  atleast 10 characters.
                    </div>
                    <div *ngIf="shouldShowError('PhoneNo','maxlength')" class="form-validate-err">
                      The minimum length allowed is 10 digits
                    </div>
                    <div *ngIf="shouldShowError('PhoneNo','pattern')" class="form-validate-err">
                      The maximum length allowed is 10 digits
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="Date" class="form-label">Date</label>
                      <input type="date" class="form-control" name="Date" id="Date" placeholder="Date"
                        formControlName="Date" [min]="currentDate" [max]="defaultDate">
                    </div>
                    <div *ngIf="shouldShowError('Date','required')" class="form-validate-err">
                      Please Enter Date
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="Person" class="form-label">No. of Person</label>
                      <input type="text" [maxLength]="3" class="form-control" formControlName="Person" name="Person" value="1"
                        id="Person" (keydown)="onKeyDown($event)" placeholder="No. of Person">
                    </div>
                    <div *ngIf="shouldShowError('Person','required')" class="form-validate-err">
                      Please Enter No. of Person
                    </div>
                  </div>
                  <div class="col-sm-12 mt-2">
                    <div class="form-group">
                      <button type="submit" class="common-btn">Reserve Now</button>
                    </div>
                  </div>

                </div>

              </form>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div><!--resetb-sec-->

</div>
