<aside class="left-mainmenu">
  <ul>
    <li *ngIf="isUser || isResolver" routerLinkActive="active">
      <a routerLink="/dashboard/v1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="menu-list-title"><img src="../assets/images/menu-icon-1.png" alt="" /> Dashboard</a>
    </li>
    <li *ngIf="isUser || isResolver" routerLinkActive="active" (click)="reloadCurrentPage1()">
      <a routerLink="/inbox" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="menu-list-title"><img src="../assets/images/menu-icon-2.png" alt="" /> inbox</a>
    </li>
    <li *ngIf="isUser || isResolver" routerLinkActive="active">
      <a routerLink="/ticket" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="menu-list-title"><img src="../assets/images/menu-icon-15.png" alt="" /> MY Ticket</a>
    </li>

    <li *ngIf="isResolver && isAuditor || isApprover"  routerLinkActive="active">
      <a routerLink="/assigned-ticket-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="menu-list-title"><img src="../assets/images/menu-icon-14.png" alt="" /> Assigned To Me</a>
    </li>
    <li *ngIf="isResolver && !isAuditor || isApprover" routerLinkActive="active">
      <a routerLink="/department-tickets" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="menu-list-title"><img src="../assets/images/menu-icon-13.png" alt="" /> Department
        Tickets</a>
    </li>
    <li *ngIf="isAdmin" routerLinkActive="active">
      <a routerLink="dashboard/v1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="menu-list-title"><img src="../assets/images/menu-icon-1.png" alt="" /> Dashboard</a>
    </li>
    <li *ngIf="isAdmin" routerLinkActive="active" (click)="reloadCurrentPage()">
      <a routerLink="inbox" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="menu-list-title"><img src="../assets/images/menu-icon-2.png" alt="" /> Inbox</a>
    </li>
    <li *ngIf="isAdmin" routerLinkActive="active">
      <a routerLink="/admin/ticket" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="menu-list-title"><img src="../assets/images/menu-icon-15.png" alt="" /> Ticket</a>
    </li>
    <li *ngIf="isAdmin"  routerLinkActive="active">
      <a routerLink="/admin/assigned-ticket-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="menu-list-title"><img src="../assets/images/menu-icon-14.png" alt="" /> Assigned To Me</a>
    </li>

    <li>
      <div class="accordion" id="menu-accordion">

        <!-- <div *ngIf="isAdmin" class="card-header  collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne"  routerLink="/admin/reservation-table">
          <img class="MenuImage" src="../assets/images/menu-icon-10.png" alt=""  /> Restaurants
        </div>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#menu-accordion">
          <ul class="inner-acc-menu">
            <li routerLinkActive="active">
              <a routerLink="/admin/reservation-table" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" class="menu-list-title">
                Reservation</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/admin/orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Order</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/admin/ordersList" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Order List </a>
            </li>
          </ul>
        </div> -->

        <div *ngIf="isAdmin" class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo" routerLink="/admin/master/category-list">
          <img class="MenuImage" src="../assets/images/menu-icon-3.png" alt="" /> Master
        </div>

        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#menu-accordion">
          <ul class="inner-acc-menu">
            <li routerLinkActive="active">
              <a routerLink="/admin/master/category-list" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" class="menu-list-title">
                Category</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/admin/master/company" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" class="menu-list-title">
                Company</a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['/admin/master/customers']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Customers</a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['/admin/master/department']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Department</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/admin/master/issue']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Issue</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/admin/master/roles-permissions']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Roles Permissions</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/admin/master/subcategory-list" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" class="menu-list-title">
                Sub Category</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/admin/master/service-title-list" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" class="menu-list-title">
                Service Title</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/admin/master/SLA-Timelines" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" class="menu-list-title">
                SLA Timelines</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/admin/master/user']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">User</a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['/admin/master/product-category']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Product Category</a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['/admin/master/products']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Product</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/admin/master/labels']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Label</a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['/admin/master/quick-reply']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Quick Reply</a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['/admin/master/custom-reply']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Custom Reply</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/admin/master/approval-matrix" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Approval Matrix</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/admin/master/rooms" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Rooms</a>
            </li>

          </ul>

        </div>

        <div  *ngIf="isAdmin" class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree" routerLink="/admin/sla-reports">
          <img class="MenuImage" src="../assets/images/menu-icon-8.png" alt=""  /> Reports
        </div>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#menu-accordion">
          <ul class="inner-acc-menu">
            <li routerLinkActive="active">
              <a routerLink="/admin/sla-reports" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Tickets SLA</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/admin/overview" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Analytics</a>
            </li>
            <!-- <li routerLinkActive="active">
              <a routerLink="/admin/agent-performance" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Agent Performance</a>
            </li> -->
            <li routerLinkActive="active">
              <a routerLink="/admin/chat-histroy" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Chat History</a>
            </li>
<!--
            <li routerLinkActive="active">
              <a routerLink="/admin/chat-report" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Chat Report</a>
            </li> -->

            <li routerLinkActive="active">
              <a routerLink="/admin/chat-history-dept" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Issues count</a>
            </li>

            <li routerLinkActive="active">
              <a routerLink="/admin/active-room-number" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Active Customer List</a>
            </li>

            <li routerLinkActive="active">
              <a routerLink="/admin/happy-customer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Happy Customer</a>
            </li>

            <li routerLinkActive="active">
              <a routerLink="/admin/repeated-customer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Repeated Customer</a>
            </li>

            <li routerLinkActive="active">
              <a routerLink="/admin/escalation-depaetment-wise-report" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Escalation SLA</a>
            </li>

            <!-- <li routerLinkActive="active">
              <a routerLink="/admin/workflow" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="menu-list-title">
                Automation</a>
            </li> -->
          </ul>

        </div>
        <div *ngIf="isAdmin" class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFore"
          aria-expanded="false" aria-controls="collapseFore" routerLink="/admin/profile">
          <img class="MenuImage" src="../assets/images/menu-icon-11.png" alt="" routerLink="/admin/profile" /> Settings
        </div>
        <div *ngIf="isUser || isResolver || isApprover" class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFore"
          aria-expanded="false" aria-controls="collapseFore" routerLink="/profile">
          <img class="MenuImage" src="../assets/images/menu-icon-11.png" alt="" routerLink="/admin/profile" /> Settings
        </div>
        <div id="collapseFore" class="accordion-collapse collapse" data-bs-parent="#menu-accordion">
          <ul class="inner-acc-menu">
            <li *ngIf="isAdmin" routerLinkActive="active">
              <a routerLink="/admin/profile" class="menu-list-title">
                My Profile</a>
            </li>
            <!-- <li *ngIf="isAdmin" routerLinkActive="active">
              <a routerLink="/admin/permissions" class="menu-list-title">
                Access Permissions</a>
            </li> -->
            <li *ngIf="isUser || isResolver ||isApprover " routerLinkActive="active">
              <a routerLink="/profile" class="menu-list-title">
                My Profile</a>
            </li>
            <li>
              <a routerLink="/" (click)="logout()" class="menu-list-title">
                Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </li>

  </ul>
</aside>
