<div class="modal-content green-modal">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="inboxtemplateLabel">Select Template</h1>
    <button type="button" (click)="onCancel()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body p-0">
    <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>
    <div class="modaltemplate-body">
      <div class="row">
        <div class="col-md-3 pr-0">
          <div class="tempsearch">
            <form class="tempsearch-form" name="cform" >
              <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" [(ngModel)]="term" autocomplete="off" placeholder="Search..." required="">
              </div>
              <button type="submit" class="search-ico"><i class="la la-search"></i></button>
            </form>
          </div>
          <div class="templateleft-tbs">
            <div class="nav flex-column nav-pills" aria-orientation="vertical"
              *ngFor="let i of templetsdata  | customFilter: term " (click)="onView(i)">
              <div class="temp-link" [ngClass]="{ 'active': i.id === templet.id }">{{i.templateName}} <br> ({{i.language}})</div>
            </div>
          </div>
        </div><!--col-md-3-->
        <div class="col-md-9">
          <div class="templateright-col">
            <h3 class="modalpg-title">Message</h3>
            <div class="tab-content">
              <div class="tab-pane fade show active">
                <div class="template-card">
                  <div class="templ-col" *ngIf="templet?.header?.header !== null || templet?.header?.headerFileType !== null || templet?.header?.file !== null ">
                    <p><strong>Header :</strong></p>
                    <p>Thanks for sharing your feedback.</p>
                  </div>
                  <div class="templ-col">
                    <p><strong>Body :</strong></p>
                    <p>{{templet.templatePreview}}</p>
                  </div>
                </div>
                <div class="template-card2" *ngIf="templet?.header?.header !== null || templet?.header?.headerFileType !== null || templet?.header?.file !== null ">
                  <div class="sub3" >Header</div>
                  <div class="inner-template-card2">
                    <div class="row">
                      <div class="col-sm-6 col-md-4">
                        <div class="tempuploaded-pic">
                          <a href="../assets/images/ceo-template.jpeg" target="_blank"><img
                              src="../assets/images/ceo-template.jpeg" alt=""></a>
                          <p><a>Remove Image</a></p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-8">
                        <div class="tempupl-text">
                          <div class="sc-eqUAAy">
                            <label>Upload another Image</label>
                            <input class="form-control form-control-sm h-auto" id="formFileSm" type="file">
                            <p>(or)</p>
                            <label>Add media URL</label>
                            <input type="text" value="" class="form-control h-auto">
                            <p>(send personalized media)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="common-btn">See Preview and Send</button>
  </div>
</div>
