<div class="loading-spin" *ngIf="loading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<section class="login-wrapper">
  <div class="login-logo" routerLink="/login"><a><img src="../assets/images/logo.png" alt=""></a></div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <app-login-leftside></app-login-leftside>
      </div>
      <div class="col-lg-6">
        <div class="login-form-col">
          <div class="login-headcontet">
            <h1>Reset password.</h1>
            <p>Enter a new password to reset the password on your account.</p>
          </div>

          <form class="login-form" [formGroup]="userMasterMasterForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="password">Password <span class="text-danger">*</span></label>
              <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" class="form-control"
                formControlName="password" name="password" id="password">
              <div class="login-user-ico">
                <i class="lar" [ngClass]="{'la-eye-slash': !showPassword,'la-eye': showPassword}"
                  (click)="toggleFieldTextType()"></i>
              </div>
              <div *ngIf="shouldShowError('password','required')" class="form-validate-err">
                This field is required
              </div>
              <div *ngIf="shouldShowError('password','passwordStrength')" class="form-validate-err">
                {{userMasterMasterForm.get('password').errors['passwordStrength']}}
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPasswod">Confirm Password <span class="text-danger">*</span></label>
              <input [type]="showPassword1 ? 'text' : 'password'" placeholder="Confirm  Password" class="form-control"
                formControlName="confirmPasswod" name="confirmPasswod" id="confirmPasswod">
              <div class="login-user-ico">
                <i class="lar" [ngClass]="{'la-eye-slash': !showPassword1,'la-eye': showPassword1}"
                  (click)="toggleFieldTextType1()"></i>
              </div>
              <div *ngIf="shouldShowError('confirmPasswod','required')" class="form-validate-err">
                This field is required
              </div>
              <div *ngIf="shouldShowError('confirmPasswod','confirmedValidator')" class="form-validate-err">
                Password and Confirm Password must be match
              </div>
            </div>


            <div class="form-group">
              <button type="submit" class="common-btn login-btn">Reset Password</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</section>
