


  <div class="page-title"><h1>Create new Workflow</h1></div>

  <div class="createworkflow-page">

    <div class="workflow-w20">

      <div class="accordion" id="workflow-accordion">

      <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">All Templates</div>

      <div id="collapse2" class="card-body-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#workflow-accordion">
        <ul class="workflow-submenu">
          <li><a >Lead Gen - Agency</a></li>
          <li><a >Lead Gen - with pincode</a></li>
          <li><a >Vehicle Insurance renewal</a></li>
          <li><a >Vehicle service booking</a></li>
          <li><a >Capture a Testimonial</a></li>
          <li><a >Lead Gen - New Student Registration</a></li>
          <li><a >Product Feedback</a></li>
          <li><a >NPS</a></li>
          <li><a >Lead Gen - Agency</a></li>
          <li><a >Lead Gen - with pincode</a></li>
          <li><a >Vehicle Insurance renewal</a></li>
        </ul>
      </div>


      <div class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">All Workflows</div>

      <div id="collapse3" class="card-body-collapse collapse" aria-labelledby="heading2" data-bs-parent="#workflow-accordion">
        <ul class="workflow-submenu">
          <li><a >Untitled Workflow 1689061450558</a></li>
        </ul>
      </div>

      </div>

    </div><!--workflow-w25-->

    <div class="workflow-w40">

      <div class="workflow-createcard">
        <div class="workflow-createcard-title"><span class="pgcard-icon"><img src="images/workflow-icon.png" alt=""></span> Untitled Workflow 1689589541673</div>

        <div class="workflow-createcard-body">

         <div class="workflow-dquote">Let’s start by adding the first response from the right panel</div>

        </div>

      </div>

    </div><!--workflow-w35-->

    <div class="workflow-w40-1">

      <div class="workflow-response">
        <div class="inner-workflow-response">

           <div class="accordion" id="flowresponse">

              <div class="accordion-item">

              <h2 class="accordion-header" id="workflow-response">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseresp" aria-expanded="true" aria-controls="collapseresp">
                Response 1
                </button>
              </h2>

              <div id="collapseresp" class="accordion-collapse collapse show" aria-labelledby="flowresponse" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                <ul class="input-radiobtn" id="pills-tab2" role="tablist">
                  <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">

                  <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                        <label class="form-check-label" for="inlineRadio1">Select a response</label>
                      </div>
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">

                   <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Create a custom response</label>
                      </div>

                    </button>
                  </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">

                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                <div class="response-answerfield">

                  <div class="select-dropdown">
              <button  role="button" data-value="" class="select-dropdown__button dropdown-toggle"><span>Select a response</span></button>
              <ul class="select-dropdown__list">
                <li data-value="1" class="select-dropdown__list-item">What is your name? <span class="dcheck-icon"><i class="las la-check"></i></span></li>
                <li data-value="2" class="select-dropdown__list-item">What is your email address?</li>
                <li data-value="3" class="select-dropdown__list-item">What is your calling phone number?</li>
                <li data-value="4" class="select-dropdown__list-item">What is your job title?</li>
                <li data-value="5" class="select-dropdown__list-item">Which product/service are you interested in?</li>
                <li data-value="6" class="select-dropdown__list-item">How did you hear about us?</li>
                <li data-value="7" class="select-dropdown__list-item">What is your company name?</li>
                <li data-value="8" class="select-dropdown__list-item">What is your company size?</li>
                <li data-value="9" class="select-dropdown__list-item">What is your budget?</li>
                <li data-value="10" class="select-dropdown__list-item">When are you looking to make a purchase?</li>
              </ul>
            </div>

                </div><!--response-answerfield-->




                  </div><!--tab-pane-->

                  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                   <div class="response-answerfield">
                   <div class="form-group">
                    <textarea class="form-control" placeholder="" id="" rows="4"></textarea>
                   </div>
                   </div>

                   <div class="add-vari-text"><a ><i class="las la-plus-circle"></i> Add variable</a></div>


                  </div><!--tab-pane-->

                </div><!--tab-content-->


                 <div class="response-answerfield">

                  <div class="form-group">
                    <label class="form-label">Add button or list to your response</label>
                   <select class="form-control">
                    <option selected>None</option>
                    <option value="1">Button</option>
                    <option value="2">List</option>
                  </select>
                  </div>

                </div>

                 <div class="response-answerfield">

                  <div class="form-group">
                    <label class="form-label">Select a trait to which user response should be saved</label>
                   <select class="form-control">
                    <option selected>Select a trait</option>
                    <option value="1">Email</option>
                    <option value="2">Name</option>
                    <option value="1">WhatsApp Opted</option>
                    <option value="2">marked_spam</option>
                  </select>
                  </div>

                </div>

                 <button type="submit" class="common-btn w-100">Save</button>


                </div>
              </div>


              </div>

            </div>

             <div class="add-vari-text mt-3"><a ><i class="las la-plus-circle"></i> Add another response</a></div>


        </div>

      </div>

    </div><!--workflow-w40-->

  </div><!--approvals-page-->


