<div class="common-modal green-modal" id="quick-reply" >
  <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="quick-replyLabel" > <span class="modal-pico"><img
          src="../assets/images/quick-reply-icon.png" alt="" ></span> Quick Reply</h1>
    <div class="addmodal-btn"><a class="common-btn" (click)="onAdd()"> <b>+</b> Add Reply</a></div>

    <button type="button" class="btn-close" (click)="onCancel()" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body p-0">
    <div class="quick-box-body">
      <ng-container *ngFor="let i of quickReplydata">
        <div class="quick-header-text">/{{i.name}}</div>
        <div class="quick-body-text" (click)="sendMessage(i.description)" >
          <p>{{i.description}}</p>
        </div>
      </ng-container>
      <div *ngIf="quickReplydata.length === 0" class="text-center">
        <Strong class="text-danger">No records found</Strong>
      </div>
    </div>

  </div>
</div>
