<div class="common-modal green-modal">
  <div class="modal-header">
    <h1 class="modal-title fs-5">{{ title }}</h1>
    <button type="button" class="btn-close" (click)="onCancel()" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body mb-0">
    <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>


    <div class="customreply-modalbody">
      <form class="common-form" [formGroup]="CategoryMasterForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="cutomreply-frominn">
              <div class="form-group">
                <label for="input">Input <span class="text-danger">*</span></label>
                <input type="text" id="input" class="form-control" placeholder="Input" formControlName="input">
                <div *ngIf="shouldShowError('input','required')" class="form-validate-err">
                  input name cannot be blank.
                </div>

                <div *ngIf="shouldShowError('input','leadingSpace')" class="form-validate-err">
                  Input Field cannot start with a space.
                </div>

              </div>
              <div class="form-group">
                <label for="messageBody">Message body <span class="text-danger">*</span></label>
                <textarea cols="0" rows="9" id="messageBody" name="messageBody" formControlName="messageBody"
                  class="form-control" placeholder="Message"></textarea>
                <div *ngIf="shouldShowError('messageBody','required')" class="form-validate-err">
                  Message is required.
                </div>
                <div *ngIf="shouldShowError('messageBody','leadingSpace')" class="form-validate-err">
                  Input Field cannot start with a space.
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="cutomreply-frominn">

              <div class="form-group">
                <label for="Inputvariation1">Input Variations</label>
                <input type="text" id="Inputvariation1" name="Inputvariation1" formControlName="Inputvariation1"  class="form-control" placeholder="Input variation 1">
              </div>

              <div class="form-group">
                <input type="text" id="Inputvariation2" name="Inputvariation2" formControlName="Inputvariation2"  class="form-control" placeholder="Input variation 2">
              </div>

              <div class="form-group">
                <input type="text" id="Inputvariation3" name="Inputvariation3" formControlName="Inputvariation3"  class="form-control" placeholder="Input variation 3">
              </div>

              <div class="form-group">
                <input type="text" id="Inputvariation4" name="Inputvariation4" formControlName="Inputvariation4"  class="form-control" placeholder="Input variation 4">
              </div>

              <div class="form-group">
                <input type="text" id="Inputvariation5" name="Inputvariation5" formControlName="Inputvariation5" class="form-control" placeholder="Input variation 5">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="mb-2 text-end">
              <button type="submit" class="common-btn">{{this.data ?'Update Now' : 'Add New'}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
