.cart-ct-select .form-control {
  height: auto !important;
}

.order-dsgd input {
  margin-left: auto;
  height: auto;
}

.inner-middle-content {
  margin: 0px -15px;
}

.pointer {
  cursor: pointer;
}


.cus-text {
  width: 25%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.list {
  margin-left: 20px;
}

