<div class="common-modal green-modal">
  <div class="modal-header">
    <h1 class="modal-title fs-5">Table</h1>
    <button type="button" class="btn-close" (click)="onCancel()" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body mb-0">
    <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>



        <div class="row align-self-stretch">
          <div class="homeblock-txt">
            <div class="resetb-form">
              <form class="query-form" name="cform" [formGroup]="customersMasterForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="form-label">Session</label>
                      <div class="radio-custombtn">
                        <input type="radio" class="btn-check" name="options-outlined" id="warning-outlined"
                          autocomplete="off" formControlName="Session" value="LUNCH" name="Session"
                          (click)="onRadioButtonClick('LUNCH')">
                        <label class="btn btn-outline-warning" for="warning-outlined">Lunch</label>

                        <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined"
                          autocomplete="off" formControlName="Session" value="DINNER" name="Session"
                          (click)="onRadioButtonClick('DINNER')">
                        <label class="btn btn-outline-danger" for="danger-outlined">Dinner</label>
                      </div>
                      <div *ngIf="shouldShowError('Session','required')" class="form-validate-err">
                        Please Enter Session
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6" *ngIf="selectedValue.length > 0">
                    <div class="form-group">
                      <label for="TimeSlots" class="form-label">Available Time Slots</label>
                      <select class="form-control" formControlName="TimeSlots" name="TimeSlots" id="TimeSlots">
                        <option *ngIf="this.selectedValue === 'LUNCH' || time == 'TIME_12_00_PM' " value="TIME_12_00_PM">12:00 PM</option>
                        <option *ngIf="this.selectedValue === 'LUNCH' || time == 'TIME_01_00_PM' " value="TIME_01_00_PM">01:00 PM</option>
                        <option *ngIf="this.selectedValue === 'LUNCH' || time == 'TIME_02_00_PM' " value="TIME_02_00_PM">02:00 PM</option>
                        <option *ngIf="this.selectedValue === 'LUNCH' || time == 'TIME_03_00_PM' " value="TIME_03_00_PM">03:00 PM</option>
                        <option *ngIf="this.selectedValue === 'LUNCH' || time == 'TIME_04_00_PM' " value="TIME_04_00_PM">04:00 PM</option>
                        <option *ngIf="this.selectedValue === 'DINNER' || time == 'TIME_07_00_PM' " value="TIME_07_00_PM">07:00 PM</option>
                        <option *ngIf="this.selectedValue === 'DINNER' || time == 'TIME_08_00_PM'" value="TIME_08_00_PM">08:00 PM</option>
                        <option *ngIf="this.selectedValue === 'DINNER' || time == 'TIME_09_00_PM'" value="TIME_09_00_PM">09:00 PM</option>
                        <option *ngIf="this.selectedValue === 'DINNER' || time == 'TIME_10_00_PM'" value="TIME_10_00_PM">10:00 PM</option>
                        <option *ngIf="this.selectedValue === 'DINNER' || time == 'TIME_11_00_PM'" value="TIME_11_00_PM">11:00 PM</option>
                      </select>
                      <div *ngIf="shouldShowError('TimeSlots','required')" class="form-validate-err">
                        Please Enter Available Time Slots
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="Date" class="form-label">Date</label>
                      <input type="date" class="form-control" name="Date" id="Date" placeholder="Date"
                        formControlName="Date" [min]="currentDate" [max]="defaultDate ">
                    </div>
                    <div *ngIf="shouldShowError('Date','required')" class="form-validate-err">
                      Please Enter Date
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="Person" class="form-label">No. of Person</label>
                      <input type="text" [maxLength]="3" class="form-control" formControlName="Person" name="Person"
                        value="1" id="Person" (keydown)="onKeyDown($event)" placeholder="No. of Person">
                    </div>
                    <div *ngIf="shouldShowError('Person','required')" class="form-validate-err">
                      Please Enter No. of Person
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                    <div class="form-group">
                      <label for="status">Status</label>
                      <select class="form-select" id="status" formControlName="status">
                        <option value="booked">booked</option>
                        <option value="canceled">Canceled</option>
                      </select>
                      <div *ngIf="shouldShowError('status','required')" class="text-danger">This field is required
                      </div>
                    </div>
                  </div> -->
                  <div class="col-sm-12 mt-2">
                    <div class="form-group text-end">
                      <button type="submit" class="common-btn">Reserve Now</button>
                    </div>
                  </div>

                </div>

              </form>

            </div>

          </div>
        </div>
      </div>
    </div>



