<div class="common-modal green-modal">
  <div class="modal-header">
    <h1 class="modal-title fs-5">{{ title }}</h1>
    <button type="button" class="btn-close" (click)="onCancel()" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body mb-0">
    <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>
    <form class="common-modal-form" [formGroup]="userMasterMasterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="firstName">First Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName"
              placeholder="First Name">
            <div *ngIf="shouldShowError('firstName','required')" class="form-validate-err">
              Please Enter First Name
            </div>

            <div *ngIf="shouldShowError('firstName','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="lastName">Last Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName"
              placeholder="Last Name">
            <div *ngIf="shouldShowError('lastName','required')" class="form-validate-err">
              Please Enter Last Name.
            </div>

            <div *ngIf="shouldShowError('lastName','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="email">Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email"
              placeholder="Email">
            <div *ngIf="shouldShowError('email','required')" class="form-validate-err">
              Please Enter Email.
            </div>

            <div *ngIf="shouldShowError('email','pattern')" class="form-validate-err">
              The Email is not valid.
            </div>
            <div *ngIf="shouldShowError('email','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="contact">Contact <span class="text-danger">*</span></label>
            <input type="text" (keydown)="onKeyDown($event)" class="form-control" id="contact" name="contact"
              formControlName="contact" placeholder="Contact">
            <div *ngIf="shouldShowError('contact','required')" class="form-validate-err">
              Please Enter Phone Number.
            </div>
            <div *ngIf="shouldShowError('contact','minlength')" class="form-validate-err">
              Phone Number Allows 10 digits only.
            </div>
            <div *ngIf="shouldShowError('contact','maxlength')" class="form-validate-err">
              Phone Number Allows 10 digits only.
            </div>
            <div *ngIf="shouldShowError('contact','pattern')" class="form-validate-err">
              Only Numbers are allowed.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="postcode">Pin code <span class="text-danger">*</span></label>
            <input type="text" (keydown)="onKeyDown($event)" class="form-control" id="postcode" name="postcode"
              formControlName="postcode" placeholder="Post Code">
            <div *ngIf="shouldShowError('postcode','required')" class="form-validate-err">
              Please Enter PinCode.
            </div>
            <div *ngIf="shouldShowError('postcode','minlength')" class="form-validate-err">
              PinCode Allows 6 digits only.
            </div>
            <div *ngIf="shouldShowError('postcode','maxlength')" class="form-validate-err">
              PinCode Allows 6 digits only.
            </div>

          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="city">City <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="city" name="city" formControlName="city" placeholder="city">
            <div *ngIf="shouldShowError('city','required')" class="form-validate-err">
              Please Enter City Name
            </div>

            <div *ngIf="shouldShowError('city','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="state">State <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="state" name="state" formControlName="state" placeholder="state">
            <div *ngIf="shouldShowError('state','required')" class="form-validate-err">
              Please Enter State Name
            </div>

            <div *ngIf="shouldShowError('state','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="roleId">Role <span class="text-danger">*</span></label>
            <select class="form-select" id="roleId" name="roleId" formControlName="roleId">
              <option value="">Select Role</option>
              <option *ngFor="let i of sdata" [value]="i.roleId">{{i.roleName}}</option>
              <option *ngIf="sdata?.length === 0" value="">No records found</option>
            </select>
            <div *ngIf="shouldShowError('roleId','required')" class="form-validate-err">
              This field is required.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="departmentId">Department <span class="text-danger">*</span></label>
            <select class="form-select" name="departmentId" id="departmentId" formControlName="departmentId">
              <option value="">Select Department</option>
              <option *ngFor="let i of data" [value]="i.departmentId">{{i.departmentName}}</option>
              <option *ngIf="data?.length === 0" value="">No records found</option>
            </select>
            <div *ngIf="shouldShowError('departmentId','required')" class="form-validate-err">
              This field is required.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="username">User Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="username" name="username" formControlName="username"
              placeholder="User Name">
            <div *ngIf="shouldShowError('username','required')" class="form-validate-err">
              Please Enter User Name
            </div>
            <div *ngIf="shouldShowError('username','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
        <div class="col-md-3" *ngIf="!this.check">
          <div class="form-group">
            <label for="password">Password <span class="text-danger">*</span></label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password"
              placeholder="password">
            <div *ngIf="shouldShowError('password','required')" class="form-validate-err">
              This field is required
            </div>
            <div *ngIf="shouldShowError('password','passwordStrength')" class="form-validate-err">
              {{userMasterMasterForm.get('password').errors['passwordStrength']}}
            </div>
          </div>
        </div>
        <div class="col-md-3" *ngIf="!this.check">
          <div class="form-group">
            <label for="confirmPasswod">Confirm Password <span class="text-danger">*</span></label>
            <input type='password' class="form-control" formControlName="confirmPasswod" name="confirmPasswod"
              id="confirmPasswod">
            <div *ngIf="shouldShowError('confirmPasswod','required')" class="form-validate-err">
              This field is required
            </div>
            <div *ngIf="shouldShowError('confirmPasswod','confirmedValidator')" class="form-validate-err">
              Password and Confirm Password must be match
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-select" id="status" id="status" formControlName="status">
              <option value="">Select</option>
              <option value="true">Active</option>
              <option value="false">Deactive</option>
            </select>
            <div *ngIf="shouldShowError('status','required')" class="text-danger">This field is required
            </div>
          </div>
        </div>
        <div class="col-md-9" *ngIf="!this.check">
          <div class="form-group">
            <label for="address">Address <span class="text-danger">*</span></label>
            <textarea cols="0" rows="1" name="address" id="address" formControlName="address" class="form-control"
              placeholder="Address"></textarea>
            <div *ngIf="shouldShowError('address','required')" class="form-validate-err">
              This field is required.
            </div>
            <div *ngIf="shouldShowError('address','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="this.check">
          <div class="form-group">
            <label for="address">Address <span class="text-danger">*</span></label>
            <textarea cols="0" rows="3" name="address" id="address" formControlName="address" class="form-control"
              placeholder="Address"></textarea>
            <div *ngIf="shouldShowError('address','required')" class="form-validate-err">
              This field is required.
            </div>
            <div *ngIf="shouldShowError('address','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mb-0 text-end">
        <button type="submit" class="common-btn">{{this.check ?'Update Now' : 'Add New'}}</button>
      </div>
    </form>
  </div>
</div>
