<div class="modal-content">
  <div class="modal-custom-close" (click)="onCancel()">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="pro-detail-wrapper">
      <div class="row">
        <div class="col-md-5">
          <app-loading-spin-popup *ngIf="!imageLoaded"></app-loading-spin-popup>
          <div class="products-big-pic" *ngIf="data.fileUrl !== null">
            <img [src]=data.fileUrl class="img-responsive" alt="" (load)="imageLoaded = true">
          </div>
          <div class="products-big-pic" *ngIf="data.fileUrl === null">
            <img src="../../../../../assets/images/default-nopic.jpg" (load)="imageLoaded = true" class="img-responsive"
              alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="pro-details-content">
            <div class="products-namedt">
              <h1 class="procat-title">{{data.productCategoryName}}</h1>
              <h2 class="procat-title2"><span>Category Name : </span> {{data.productCategoryName}}</h2>
              <h3 class="procat-title3"><span>Serial No : </span> {{data.productCategoryId}}</h3>
            </div>
            <div class="pro-active">
              <label class="form-check-label" for="flexSwitchCheckChecked2">Product is active : </label>
              <div class="form-check form-switch">{{data.status ? 'Active' : 'Deactivate'}}</div>
            </div>
            <div class="pro-desc">
              <h4>Description</h4>
              <div class="pro-table">
                <p>
                  {{data.productCategoryDescription}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
