<div class="common-modal green-modal">
  <div class="modal-header">
    <h1 class="modal-title fs-5">{{ title }}</h1>
    <button type="button" class="btn-close" (click)="onCancel()" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body mb-0">
    <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>
    <form class="common-modal-form" [formGroup]="serviceTitleMasterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="category">Category <span class="text-danger">*</span></label>
            <select class="form-select" id="category" #sel (change)="changed(sel.value)" formControlName="category">
              <option value="">Select</option>
              <option *ngFor="let i of data" [value]="i.categoryId">{{i.categoryName}}</option>
              <option *ngIf="data.length === 0" value="">No records found</option>

            </select>
            <div *ngIf="shouldShowError('category','required')" class="text-danger">This field is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="subCategoryId">Sub Category <span class="text-danger">*</span></label>
            <select class="form-select" id="subCategoryId" formControlName="subCategoryId">
              <option value="">Select</option>
              <option *ngFor="let i of sdata" [value]="i.subCategoryId">{{i.subCategoryName}}</option>
              <option *ngIf="sdata.length === 0" value="">No records found</option>
            </select>
            <div *ngIf="shouldShowError('subCategoryId','required')" class="text-danger">This field is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="serviceName">Service Title <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="serviceName" name="serviceName" formControlName="serviceName"
              placeholder="Service Title">
            <div *ngIf="shouldShowError('serviceName','required')" class="form-validate-err">
              Please Enter Service Title.
            </div>
            <div *ngIf="shouldShowError('serviceName','leadingSpace')" class="form-validate-err">
              Input Field cannot start with a space.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="defaultPriority">Default priority <span class="text-danger">*</span></label>
            <select class="form-select" id="defaultPriority" formControlName="defaultPriority">
              <option value="">Select</option>
              <option *ngFor="let i of slaData" [value]="i.id">{{i.priorityName}}</option>
              <option *ngIf="slaData.length === 0" value="">No records found</option>
            </select>
            <div *ngIf="shouldShowError('defaultPriority','required')" class="text-danger">This field is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-select" id="status" formControlName="status">
              <option value="">Select</option>
              <option value="true">Active</option>
              <option value="false">Deactive</option>
            </select>
            <div *ngIf="shouldShowError('status','required')" class="text-danger">This field is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mb-0 text-end">
        <button type="submit" class="common-btn">{{this.check ?'Update Now' : 'Add New'}}</button>
      </div>
    </form>
  </div>
</div>
