
<div class="top-noti-user">
  <div class="workflow-btn"><a (click)="refreshworkflow()" class="common-btn">Create new Workflow</a></div>
    </div>

<div class="page-title"><h1><div class="pgtitle-icon"><img src="../assets/images/workflow-icon.png" alt=""></div> Workflows</h1></div>

<div class="workflow-page">

  <div class="workflow-colorgrid">
    <div class="workflow-colorgrid-title">
      <h3>Looking for a faster and more efficient way to create stunning Workflows? Look no further than our templates!</h3>
      <p>Workflow templates</p>
    </div>


    <div class="workflow-gridlist">

      <div class="workflow-list1"><a ><span class="dot"></span> Lead Gen - Agency <span class="workflow-edit"><i class="las la-pen"></i></span> </a></div>

      <div class="workflow-list1"><a ><span class="dot"></span> Lead Gen - with pincode <span class="workflow-edit"><i class="las la-pen"></i></span> </a></div>

      <div class="workflow-list1"><a ><span class="dot"></span> Vehicle Insurance renewal <span class="workflow-edit"><i class="las la-pen"></i></span> </a></div>

      <div class="workflow-list1"><a ><span class="dot"></span> Vehicle service booking <span class="workflow-edit"><i class="las la-pen"></i></span> </a></div>

    </div>


    <div class="created-workflow-col">

      <h5>WorkFlows created by you</h5>

      <div class="created-workflow-list">
      <p>Untitled Workflow 1689061450558</p>
      <div class="created-workflow-btns">
        <a  class="round-icon"><i class="las la-pen"></i></a>
        <a  class="round-icon"><i class="las la-trash-alt"></i></a>
      </div>

      </div>
    </div>

  </div>

</div><!--approvals-page-->
